* {
  margin: 0;
  padding: 0;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #FDFDFD;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar-track {
  background-color: #FDFDFD;
}
::-webkit-scrollbar {
  width: 12px;
  background: #FDFDFD;
}
::-webkit-scrollbar-thumb {
  background: #2A292E;
  border-radius: 10vh;
}